.navbar{
    width: 25vw;
    margin: 5px 20px 0px 130px;

}
img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.navbarName {
    cursor: pointer;
    color:aliceblue;
    font-size: small;
    font-weight: 500;
}
.navbarNameContainer{
    display: flex;
    margin-left:10px;
}
.navbarNameImg {
    padding:5px 15px;
    cursor: pointer;
}
.button{
    cursor: pointer;
    text-align: center;
    padding: 10px 60px;
    border-radius: 20px;
    font-weight: 600;
    font-size: x-small;
    color: aliceblue;
    background-color: #4c8ad5;
}
.button:hover{
    color: cornflowerblue;
    background-color:aliceblue;
}